@charset "utf-8";

//    Basic Setting
//////////////////////////////////////

body {
  font-family: serif;
  color: #fff;
  background: #121212;
}

//   LP-wrapper
////////////////////////////
// .l-wrapper {
//   overflow: hidden;
//   padding-top: 80px;
// }

//    Section
//////////////////////////////////////

.section {
  margin: 0 auto;
  margin-bottom: 80px;
}
.section-tittle {
  text-align: center;
  padding: 30px;
}

// sp-menu
///////////////////

.l-sp-menu-btn {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.p-sp-menu-btn {
  position: fixed;
  width: 20px;
  height: 16px;
  right: 22px;
  top: 13px;
  z-index: 35;
  // @media only screen and (min-width: 768px) {
  //   top: 12px;
  // }
}

.p-sp-menu-btn__border {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
  //.p-sp-menu-btn__border--01
  &--01 {
    top: 0;
  }
  //.p-sp-menu-btn__border--02
  &--02 {
    top: 8px;
  }
  //.p-sp-menu-btn__border--03
  &--03 {
    top: 16px;
  }
}

.l-sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.3s ease transform, 0.3s ease opacity;
  transition: 0.3s ease transform, 0.3s ease opacity;
}
@media only screen and (min-width: 768px) {
  .l-sp-menu {
    display: none;
  }
}
.l-sp-menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.p-sp-menu {
  height: 100%;
  background: #848484;
  overflow-y: auto;
}

.p-sp-menu__list {
  text-align: center;
  list-style: none;
  padding: 100px 0;
  height: 100px;
}

.p-sp-menu__item {
  padding: 10px;
}

.p-sp-menu__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  &:hover {
    color: red;
  }
}

//    l-sp-menu-practice
////////////////////////////////////////////

.l-sp-menu-btn {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.p-sp-menu-btn {
  position: fixed;
  width: 20px;
  height: 18px;
  // right: 30px;
  // top: 20px;
  right: 2em;
  top: 2em;

  z-index: 12;
  display: block;
}

.p-sp-menu-btn__border {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.p-sp-menu-btn__border--01 {
  top: 0;
}
.p-sp-menu-btn__border--02 {
  top: 8px;
}
.p-sp-menu-btn__border--03 {
  top: 16px;
}

.is-active .p-sp-menu-btn__border--02 {
  opacity: 0;
}
.is-active .p-sp-menu-btn__border--01 {
  -webkit-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}
.is-active .p-sp-menu-btn__border--03 {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

html.is-fixed {
  height: 100vh;
  overflow: hidden;
}
