.header {
  display: flex;
  width: 100%;
  z-index: 11;
  top: 0;
  left: 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
}

.header-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.header-logo-box {
  padding: 17px 0;
}

.header__logo {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-ul {
  display: flex;
}

.header-a-link {
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
  font-size: 14px;
}
.header-a-link:hover {
  color: #ff0000;
}

.hero-box {
  width: 100%;
  height: auto;
  margin-top: 80px;
}

.hero-video {
  width: 100%;
  height: auto;
}

.about-icon-box {
  text-align: center;
}

.about-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.figure-cap-txt {
  padding-top: 30px;
  line-height: 1.7em;
}
@media only screen and (max-width: 767px) {
  .figure-cap-txt {
    font-size: 14px;
  }
}

.web-box {
  width: 100%;
  text-align: center;
}

.web-img-box {
  width: 250px;
  height: auto;
  border: 1px solid #fff;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 375px) {
  .web-img-box {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .web-img-box {
    width: 600px;
  }
}

.web-btn {
  margin: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  background: #fff;
  border: none;
}
.web-btn:hover {
  border: 1px solid #ff0000;
  color: #ff0000;
}

.d-box {
  width: 100%;
  height: auto;
}

.fig-box {
  text-align: center;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .fig-box {
    display: block;
  }
}

.img-box-01 {
  width: 200px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.fig-cap {
  margin: 0 20px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .fig-cap {
    text-align: center;
  }
}

.fig-url {
  color: #fff;
  text-decoration: none;
}
.fig-url:hover {
  color: blue;
}

.form-table {
  display: flex;
  justify-content: center;
}

.select {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
}

.input {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
}

.radio {
  margin: 0 10px;
}

.textarea {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
  min-height: 100px;
}

@media screen and (max-width: 768px) {
  .select,
  .input,
  .textarea {
    min-width: auto;
    width: 100%;
  }
}

.form-button {
  text-align: center;
}

.footer {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.web-detail-btn {
  background: #ffffff;
  border-radius: 10px;
  border: none;
}
.web-detail-btn:hover {
  border: 1px solid #333;
  background: #464646;
}

.form-btn {
  background: #ffffff;
  color: #333;
  border-radius: 10px;
  border: none;
  font-size: 15px;
}
.form-btn:hover {
  border: 1px solid #333;
  background: #464646;
}/*# sourceMappingURL=home.css.map */