@charset "utf-8";

//        header
//////////////////////////////////

.header {
  display: flex;
  width: 100%;
  z-index: 11;
  top: 0;
  left: 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
}

.header-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.header__logo {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  height: 100%;
  padding-left: 14px;
  @media only screen and (max-width: 767px) {
    padding: 10px;
    font-size: 14px;
  }
}

.header-nav {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.header-ul {
  display: flex;
}

.header-a-link {
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
  font-size: 14px;
}

//        Hero
//////////////////////////////////

.hero-box {
  width: 100%;
  height: auto;
  margin-top: 80px;
}

.hero-video {
  width: 100%;
  height: auto;
}

//        About
//////////////////////////////////

.about-icon-box {
  text-align: center;
}

.about-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.figure-cap-txt {
  padding-top: 30px;
  line-height: 1.7em;
  @media only screen and (max-width: 767px) {
    font-size: 14px;
  }
}

//         WEB
/////////////////////////////////////

// 大枠
.web-box {
  width: 100%;
  text-align: center;
}

.web-img-box {
  width: 600px;
  border: 1px solid #fff;
  border-radius: 20px;

  // スマホ
  @media screen and (max-width: 425px) {
    width: 100px;
  }
  // タブレット
  @media screen and (max-width: 768px) {
    width: 200px;
  }
  // ノーパソ
  @media screen and (max-width: 1024px) {
    width: 600px;
  }
}

.web-btn {
  margin: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  background: #fff;
  border: none;

  &:hover {
    border: 1px solid #ff0000;
    color: #ff0000;
  }
}

//          3DCG
/////////////////////////////////////

.cg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // タブレット
  @media screen and (max-width: 768px) {
    display: block;
  }
  // タブレット
  @media screen and (max-width: 768px) {
    display: block;
  }
  // ノーパソ
  @media screen and (max-width: 1024px) {
    display: block;
  }
}

.cg-img {
  width: 300px;
  height: 300px;
  object-fit: cover;

  // タブレット
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.cg-tittle-h2 {
  margin-bottom: 0;
}

//          Design
/////////////////////////////////////

.d-box {
  width: 100%;
  height: auto;
}
.fig-box {
  text-align: center;
  display: flex;
  justify-content: center;
  // タブレット
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.img-box-01 {
  width: 450px;
  height: auto;
  object-fit: cover;

  // タブレット
  @media screen and (max-width: 768px) {
    width: 300px;
  }
}

.fig-cap {
  margin: 0 20px;
  text-align: left;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.fig-url {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: blue;
  }
}

//        Form
///////////////////////////////

.form-table {
  display: flex;
  justify-content: center;
}

.select {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
}

.input {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
}

.radio {
  margin: 0 10px;
}

.textarea {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
  min-height: 100px;
}

.select,
.input,
.textarea {
  @media screen and (max-width: 768px) {
    min-width: auto;
    width: 100%;
  }
}

.form-button {
  text-align: center;
}

//        footer
///////////////////////////////
.footer {
  width: 100%;
  padding: 10px;
  text-align: center;
}

//   btn
////////////////////////////

.web-detail-btn {
  background: #ffffff;
  border-radius: 10px;
  border: none;
  &:hover {
    border: 1px solid #333;
    background: #464646;
  }
}

.form-btn {
  background: #ffffff;
  color: #333;
  border-radius: 10px;
  border: none;
  font-size: 15px;

  &:hover {
    border: 1px solid #333;
    background: #464646;
  }
}
